{% extends "layout.html" %}

{% block body %}
    <div class="container mt-4">
        <h3>Hakkımızda</h3>
        <p>
            GetDogCo'ya hoş geldiniz! Biz, sahipsiz dostlarımız için sıcak yuvalar bulmayı amaçlayan bir platformuz. 
            Köpek sahiplendirme süreçlerini kolaylaştırarak hem köpeklerin hem de sahiplenmek isteyen kişilerin 
            güvenli ve mutlu bir deneyim yaşamasını sağlıyoruz.
        </p>

        <h4>Misyonumuz</h4>
        <p>
            Barınaklarda ve sokakta yaşayan köpeklerin sahiplendirilmesini destekleyerek, her köpeğe sıcak bir yuva sağlamak.
        </p>

        <h4>Nasıl Çalışır?</h4>
        <ul>
            <li type= 'square'>Kayıt olarak ilan oluşturabilirsiniz.</li>
            <li type= 'square'>Başka kullanıcıların ilanlarına göz atabilir, sahiplendirmek istedikleri köpekler hakkında bilgi alabilirsiniz.</li>
            <li type= 'square'>Sahiplenme süreciyle ilgili doğrudan ilan sahibine ulaşabilirsiniz.</li>
        </ul>

        <p>
            Daha fazla bilgi almak için <a href="/contact">bize ulaşın</a>.
        </p>
    </div>
{% endblock %}
