{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
    <h1>GetDogCo - Köpek Sahiplendirme Platformu</h1>
    <p>Sevimli dostlarımıza sıcak bir yuva bulmalarına yardımcı olun!</p>
    <a href="{% url 'getdogco:list_posts' %}" class="btn btn-primary btn-lg">İlanları Gör</a>
</div>

<p>
    {% if request.user.is_authenticated %}
        Giriş Yapılmış, Hoşgeldiniz {{ request.user.username }}! 🐶
    {% else %}
        Giriş Yapılmamış. <a href="{% url 'user:login' %}">Giriş yapın</a> veya <a href="{% url 'user:register' %}">kayıt olun</a> ve sahipsiz dostlarımız için bir fark yaratın!
    {% endif %}
</p>

{% endblock %}
